#projectDiv:hover{
    cursor: pointer;
    background-color: #fff;
    /* border: 1px solid red; */
    color:black !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition:all .5s ease-in-out;
    /* transform: scale(1.1); */
}